*{
   /*  border: 1px solid rgb(255, 166, 0); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BGColor: rgb(5, 0, 53);
    --FC: white;
    --ORANGE: orange;

}

/* General Styles */
body {
    background-color: var(--BGColor);
    color: var(--FC);
    padding: 10px;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1%;
}

h2 {
    text-align: center;
    margin: 1%;
    color: var(--ORANGE);
}

img {
    height: 35rem;
    width: auto;
    margin: 5% 1%;
}



a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--ORANGE);
}
/* Specific Styles */
.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.taskContainer {
    width: 100%;
}

.taskCard {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.taskBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;
}

.btn button {
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--BGColor);
}

.newTaskBtn:hover, .newBossBtn:hover {
    background-color: var(--ORANGE);
    border-radius: 10px;
}

.taskCompletedBtn {
    background-color: orange;
}

.taskCompletedBtn:hover {
    background-color: green;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: center;
    gap: 1%;
    font-size: 1.5rem;
}

.linksContainer p {
    padding: 10px;
    cursor: pointer;
}