*{
    border: 1px solid rgb(255, 166, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BGColor: rgb(8, 1, 77);
    --FC: white;
    --RED: rgb(204, 0, 0);

}

/* General Styles */
body {
    background-color: var(--BGColor);
    color: var(--FC);
    padding: 10px;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
}

img {
    height: 30rem;
    width: auto;
}

/* Specific Styles */
.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.taskContainer {
    width: 100%;
}

.taskCard {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.taskBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;
}

.btn button {
    font-size: 2.5rem;
    padding: 10px;
}

.newTaskBtn:hover {
    background-color: var(--RED)
}

.taskCompletedBtn {
    background-color: orange;
}

.taskCompletedBtn:hover {
    background-color: green;
}
